<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="top.maniy.mapper.AlbumMapper">



	<select id="getAlbumsByUserId" resultType="Album">
	SELECT * FROM album WHERE userid=#{userid}
	</select>

	<insert id="saveAlbum" parameterType="Album">
		INSERT INTO album (albumname,userid,introduce) VALUES (#{albumName},#{userId},#{introduce})
	</insert>

	<delete id="deleteAlbumByAlbumId" >
		DELETE from album WHERE albumid=#{albumId}
	</delete>
</mapper>